.movie-card {
  width: 360px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
}

.movie-info h2 {
  margin: 10px 0 10px;
  font-size: 24px;
  color: white;
}

.movie-info p {
  margin: 10px 0;
  color: #ccc;
}

.watched-button {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.watched-button:hover {
  background-color: darkred;
}

.movie-card > div:last-child {
  padding-top: 15px;
  border-top: 1px solid #555;
}

.movie-card > div:last-child p {
  margin: 8px 0;
  color: #ccc;
}

.rating {
  display: flex;
  gap: 5px;
  margin: 10px 0;
  justify-content: center;
  font-size: 50px;
}

.rating button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #555;
  font-size: 25px;
  cursor: pointer;
}

.rating button:hover {
  color: yellow;
}

.rating button.active {
  color: yellow;
}

@media (max-width: 420px) {
  .movie-card {
    width: 100%;
  }
}
