* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eef4f1;
  color: #263238;
  font-family: Arial, sans-serif;
  background: #e1e1e1;
}

header {
  background: #808080;
  color: white;
  text-align: center;
  padding: 25px;
  box-shadow: 7px 3px 15px black;
}

header h1 {
  margin: 10px;
}

.gora {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px auto;
}

#formularz {
  width: 500px;
  margin: 0;
  padding: 25px;
  background-color: white;
  border: 1px solid #cbd8d2;
  border-radius: 8px;
}

#formularz form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#formularz label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #174a3a;
}

#formularz input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aebdb6;
  border-radius: 5px;
  background-color: #f8faf9;
  color: #263238;
}

#formularz input:focus {
  border-color: #2d2d2d;
  outline: none;
}

#formularz form > button {
  padding: 11px;
  border: none;
  border-radius: 5px;
  background: #4a4a4a;
  color: white;
  cursor: pointer;
}

#formularz form > button:hover {
  background-color: #777877;
}

#formularz h2,
.filtry h2 {
  margin-top: 0;
  color: #777877;
}

.filtry {
  width: 220px;
  padding: 25px;
  background-color: white;
  border: 1px solid #cbd8d2;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 25px auto;
}

.wybor {
  padding: 10px;
  border: 1px solid #777877;
  border-radius: 5px;
  background-color: white;
  color: #3e3e3e;
  cursor: pointer;
  margin: 10px;
}

.wybor:hover {
  background-color: #c7c7c7;
  transition: all 0.5s;
}

main {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

main h2 {
  text-align: center;
}
